@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Muli';
    background-color: #ecf0f1;
}
.banner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 28px black;
    padding: 10px 10px;
    background-color: #ecf0f1;
    z-index: 100;
}

.calendar-container{
    width: 1000px;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.calendar-container p{
    letter-spacing: 1.5px;
}

.mood-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mood{
    margin:0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.mood button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 3px 0;
    transition: transform 80ms ease-out;
}
.mood button:active{
    transform: scale(0.8);
}
.mood button:focus{
    outline: none;
}
.calendars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.calendar{
    width:300px;
    height: 185px;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 12px;
}
.calendar h3{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
ul.day{
    display: flex;
}
ul.day li{
    list-style: none;
    width: 25px;
    height: 25px;
    margin-left: 12px;
}
ul.date {
    display: flex;
    flex-wrap: wrap;
    margin: 2px 1px;
}
ul.date li{
    list-style: none;
    width: 25px;
    height: 25px;
    border:1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 12px;
    cursor: pointer;
}

.sun{
    color: tomato;
}
.far{
    font-size: 30px;
}
.far.happy{
    color: #2d6b5f;
}
.far.meh{
    color: #edbf98;
}
.far.sad{
    color: #ea3d36;
}

.redo{
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: gray;
    cursor: pointer;
    transition: transform 80ms ease-in-out;
}

.redo:active{
    transform: scale(0.8);
}
.footer{
    margin-bottom: 100px;
}